.card {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 80vw;
    height: 65vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 8px 5px 20px 1px rgba(209,69,60,0.85);
}
.tinderCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    
}
.swipe{
    position: absolute;
}
.card > h3 {
    position: absolute;
    left: 25px;
    bottom: 70px;
    color: white;
    font-size: 30px;
}
.card > p {
    position: absolute;
    left: 25px;
    bottom: 45px;
    color: white;
    font-size: 17px;
}
.location_logo {
    position: absolute;
    bottom: 25px;
    color: white !important;
}
.card > p2 {
    position: absolute;
    left: 42px;
    bottom: 28px;
    color: white;
    font-size: 13px;
}
